# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [120]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [96]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [97]:
#your code here

spaceship.shape

(8693, 14)

**Check for data types**

In [98]:
#your code here

spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [99]:
#your code here

spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [100]:
#your code here

spaceship.dropna(inplace=True)

In [101]:
spaceship.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [102]:
#your code here

spaceship["Cabin"].value_counts()

Cabin
G/1476/S    7
E/13/S      7
C/137/S     7
G/734/S     7
B/11/S      7
           ..
E/233/S     1
E/209/P     1
G/548/S     1
D/108/P     1
B/153/P     1
Name: count, Length: 5305, dtype: int64

In [103]:
b = "G/1476/S"
print(b[0])

G

In [104]:
def slicer_function(row):
    return row[0]

In [105]:
spaceship["Cabin"] = spaceship["Cabin"].apply(slicer_function)

In [106]:
spaceship["Cabin"].value_counts()

Cabin
F    2152
G    1973
E     683
B     628
C     587
D     374
A     207
T       2
Name: count, dtype: int64

- Drop PassengerId and Name

In [107]:
#your code here

spaceship = spaceship.drop(columns=['PassengerId', 'Name'])

In [108]:
spaceship

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

- For non-numerical columns, do dummies.

In [109]:
#your code here

# Convert non-numerical columns to dummy variables
spaceship_dummies = pd.get_dummies(spaceship, columns=['HomePlanet', 'CryoSleep','Cabin','Destination'])

In [110]:
spaceship_dummies

,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,39.0,False,0.0,0.0,0.0,0.0,0.0,False,False,True,...,True,False,False,False,False,False,False,False,False,True
1,24.0,False,109.0,9.0,25.0,549.0,44.0,True,True,False,...,False,False,False,False,True,False,False,False,False,True
2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,False,True,...,False,False,False,False,False,False,False,False,False,True
4,16.0,False,303.0,70.0,151.0,565.0,2.0,True,True,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,False,True,...,False,False,False,False,False,False,False,True,False,False
8689,18.0,False,0.0,0.0,0.0,0.0,0.0,False,True,False,...,False,False,False,False,False,True,False,False,True,False
8690,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,True,False,...,False,False,False,False,False,True,False,False,False,True
8691,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,False,True,...,False,False,False,True,False,False,False,True,False,False
8692,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,False,True,...,False,False,False,True,False,False,False,False,False,True

**Perform Train Test Split**

In [111]:
spaceship_dummies.columns

Index(['Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
       'VRDeck', 'Transported', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'CryoSleep_False', 'CryoSleep_True', 'Cabin_A',
       'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F', 'Cabin_G',
       'Cabin_T', 'Destination_55 Cancri e', 'Destination_PSO J318.5-22',
       'Destination_TRAPPIST-1e'],
      dtype='object')

In [112]:
features = spaceship_dummies.drop(columns=['Transported'])

In [113]:
target = spaceship_dummies["Transported"]

In [114]:
#your code here

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [117]:
## The code below takes all numerical (>3) columns and normalizes them, in order to avoid range distortion

# Identify columns with a maximum value above 3
columns_to_normalize = [col for col in spaceship_dummies.columns if spaceship_dummies[col].max() > 10]

In [124]:
# Initialize scaler and fit only on training data
scaler = MinMaxScaler()
X_train[columns_to_normalize] = scaler.fit_transform(X_train[columns_to_normalize])

In [125]:
# Apply the scaler transformation to the test data
X_test[columns_to_normalize] = scaler.transform(X_test[columns_to_normalize])

In [126]:
spaceship_dummies.head(3)

,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,39.0,False,0.0,0.0,0.0,0.0,0.0,False,False,True,...,True,False,False,False,False,False,False,False,False,True
1,24.0,False,109.0,9.0,25.0,549.0,44.0,True,True,False,...,False,False,False,False,True,False,False,False,False,True
2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,False,True,...,False,False,False,False,False,False,False,False,False,True

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [115]:
#your code here

- Evaluate your model's performance. Comment it

In [116]:
#your code here